<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cambiar contraseña</h4>
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="registrar()" class="form p-t-20">
                <div class="form-group">
                    <label for="pwd2">Contraseña nueva</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                        <input formControlName="password" name="password" type="password" class="form-control" id="pwd2" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd2">Confirmar Contraseña nueva</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-lock"></i></div>
                        <input formControlName="password2" name="password2" type="password" class="form-control" id="pwd3" required>
                    </div>
                </div>

                <div class="form-group" *ngIf="form.errors?.sonIguales && !form.pristine">
                        <p class="text-danger">
                            Las contraseñas deben de ser iguales
                        </p>
                    </div>
                    
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                  Guardar
                </button>
            </form>
        </div>
    </div>
</div>