
<div class="col-lg-12">
    <div class="card">
        <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Registrar nuevo equipo</h4>
        </div>
        <div class="card-body">
            <form action="#">
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Descripción</label>
                                <input type="text" id="descripcion" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Modelo</label>
                                <input type="text" id="modelo" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Número de Serie</label>
                                <input type="text" id="serie" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Localización</label>
                                <input type="text" id="localizacion" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Tipo</label>
                                <select class="form-control custom-select" data-placeholder="Seleccionar..." tabindex="1">
                                    <option value="proyector">Proyector</option>
                                    <option value="hdmi">Cable HDMI</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> <i class="fa fa-check"></i> Guardar</button>
                    <button routerLink="/inventario" type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>