<div class="col-lg-12">
    <div class="card">
        <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Registrar nueva actividad</h4>
        </div>
        <div class="card-body">
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="registrar()">
                <div class="form-body">
                    <!--/row-->
                    <h3 class="box-title ">Información general</h3>
                    <hr>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nombre Estudiante/Profesor*</label>
                                <input type="text"  formControlName="nombre" name="nombre"  class="form-control" required>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Cuenta / Matrícula</label>
                                <input type="text"  formControlName="cuenta" name="cuenta"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Carrera</label>
                                <div class="input-group">
                                <select formControlName="carrera" name="carrera"  class="form-control custom-select" data-placeholder="Seleccionar carrera" tabindex="-1">
                                    <option *ngFor="let carrera of carreras" [value]="carrera._id">{{ carrera.nombre }}</option>
                                </select>
                                <button (click)="crearCarrera()" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Grupo</label>
                                <div class="input-group">
                                <select formControlName="grupo" name="grupo" class="form-control custom-select" data-placeholder="Seleccionar grupo" tabindex="1">
                                    <option *ngFor="let grupo of grupos" [value]="grupo._id">{{ grupo.nombre }}</option>
                                </select>
                                <button (click)="crearGrupo()" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <h3 class="box-title m-t-40">Descripción del Servicio</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Tipo de Servicio*</label>
                                <div class="input-group">
                                        <select formControlName="tipoServicio" name="tipoServicio" class="form-control custom-select" data-placeholder="Seleccionar servicio" tabindex="1" required>
                                                <option *ngFor="let servicio of servicios" [value]="servicio._id">{{ servicio.nombre }}</option>
                                            </select>
                                        <button (click)="crearServicio()" class="btn btn-success"><i class="fa fa-plus"></i></button>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Equipo</label>
                                <input formControlName="equipo" name="equipo" type="text" id="equipo" class="form-control">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Marca</label>
                                <input formControlName="marca" name="marca" type="text" id="marca" class="form-control">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Color</label>
                                <input formControlName="color" name="color" type="text" id="color" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="box-title m-t-40">Notas</h3>
                <hr>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <textarea formControlName="observaciones" name="observaciones" class="form-control" rows="5" id="notas"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> <i class="fa fa-check"></i> Guardar</button>
                    <button routerLink="/actividades" type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
